<ion-view class="background" view-title="Register">
    <ion-content class="common-content-form">
        <div class="register-div">
            <div class="help-message-div">
            </div>
            <div>
                <p ng-show="error" class="error-message">{{errorMessage}}</p>
            </div>
            <div class="row">
                <div class="col">
                    <input class="common-input" ng-minlength="5" type="password" name="password" ng-model="user.password" placeholder="Password" novalidate required />
                </div>
            </div>
            <div>
                <button type="submit" class="button button-block button-light"
                        ng-disabled="userForm.$invalid" ng-click="register()">
                    Register
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>