<ion-view view-title="Details">
  <ion-content class="padding" ng-init="init()">

    <div class="list">
      <div class="item item-divider">
        <h2>{{post.title}} </h2>
        <h3>{{post.postedBy.username}} </h3>
      </div>
      <div class="item item-text-wrap">
        {{post.description}}
      </div>
      <div class="item item-divider">
        Bids
      </div>
      <div ng-if="bids.length == 0" class="item">
        <p>There are no bids yet!</p>
      </div>
      <div ng-repeat="bid in bids" class="item">
          <h2>{{bid.contractor.username}} </h2>
          <p>Has bidded {{bid.bidValue | currency}}</p>
      </div>
    </div>
    <button class="button button-calm button-block" ng-click="makeBid()">Make Bid</button>
    <button class="button button-calm button-block" ng-click="contact()">Contact Jobee</button>
  </ion-content>
</ion-view>
