<ion-view view-title="Postings">
  <ion-nav-buttons side="secondary">
    <i class="button icon-left button-clear"
       ng-click="secondaryButtonAction()"> {{secondaryButtonTitle}}</i>
  </ion-nav-buttons>
     <div class="tabs-striped tabs-top tabs-color-calm">
    <div class="tabs scroll-tabs">
      <a class="tab-item active" href="#" ng-click="switchSlide(0)">
        Jobber
        
      </a>
      <a class="tab-item" href="#" ng-click="switchSlide(1)">
        Jobbee
        
      </a>
     
    </div>
  </div> 
<!--
  <ion-header-bar class="bar-subheader bar-light">
    <div class="button-bar bar-balanced">
      <button ng-click="switchSlide(0)" class="button">Jobber</button>
      <button ng-click="switchSlide(1)" class="button">Jobbee</button>
    </div>
  </ion-header-bar>
-->
  <ion-content class="tab-content" ng-init="init()">
      <div class="under-tab-content">
    <ion-slide-box show-pager="false" on-slide-changed="slideChange($index)">
      <ion-slide>
        <div ng-repeat="post in jobberPosts" class="list card">
          <div class="item item-avatar">
            <img src="{{post.profilePicture}}">
            <h2>{{post.firstName}} {{post.lastName}}</h2>
            <span ng-repeat="tag in post.tags" class="job-tag">{{tag}}</span>
          </div>
          <div class="item">
            <p class="item-detail">
              {{post.detail}}
            </p>
            <p>
              <span ng-repeat="i in getNumber(post.rating) track by $index"
                    class="ion-star energized icon-right"></span>
              <span>{{post.reviews}} reviews</span>
            </p>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="list">
          <div ng-if="myJobsPost.length > 0" class="item item-divider">My Posts</div>
          <div ng-repeat="post in myJobsPost" class="item">
            <div class="class">
              <h2>Title: {{post.title}}</h2>
              <p class="item-detail">Details: {{post.description}}</p>
              <span ng-if="post.category" class="job-tag">{{post.category}}</span>
              <span ng-if="post.cost" class="job-tag">{{post.cost | currency}}</span>
              <span ng-if="post.duration" class="job-tag">{{post.duration}} hour(s)</span>
            </div>
          </div>
          <div ng-if="jobsPost.length > 0" class="item item-divider">Posts</div>
          <div  ng-repeat="post in jobsPost" class="item">
            <div class="class">
              <h2>Title: {{post.title}}</h2>
              <h4>User: {{post.postedBy[0].username}}</h4>
              <p class="item-detail">Details: {{post.description}}</p>
              <span ng-if="post.category" class="job-tag">{{post.category}}</span>
              <span ng-if="post.cost" class="job-tag">{{post.cost | currency}}</span>
              <span ng-if="post.duration" class="job-tag">{{post.duration}} hour(s)</span>
            </div>
          </div>
        </div>

      </ion-slide>
    </ion-slide-box>
      </div>
  </ion-content>
</ion-view>
