<ion-view view-title="Messages">
  <ion-content>
    <div class="list">
      <a class="item item-avatar" href="#">
        <img src="img/adam.jpg">
        <h2>Jeremy</h2>
        <p>Hilary</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/perry.png">
        <h2>Austin</h2>
        <p>Hey</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/max.png">
        <h2>Fadi</h2>
        <p>Hey</p>
      </a>
    </div>
  </ion-content>
</ion-view>
