<ion-view view-title="Postings">
  <ion-nav-buttons side="secondary">
    <i class="button icon-left button-clear"
       ng-click="secondaryButtonAction()"> {{secondaryButtonTitle}}</i>
  </ion-nav-buttons>
  <ion-header-bar class="bar-subheader bar-light">
    <div class="button-bar bar-balanced">
      <button ng-click="switchSlide(0)" class="button">Jobber</button>
      <button ng-click="switchSlide(1)" class="button">Jobbee</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-slide-box show-pager="false" on-slide-changed="slideChange($index)">
      <ion-slide>
        <div ng-repeat="post in jobberPosts" class="list card">

          <div class="item item-avatar">
            <img src="img/adam.jpg">
            <h2>{{post.firstName}} {{post.lastName}}</h2>
            <span class="job-tag">Tutor</span>
            <span class="job-tag">Mover</span>
          </div>

          <div class="item item-body">
            <p>
              {{post.detail}}
            </p>
            <p>
              <a href="#" class="subdued">1 Like</a>
              <a href="#" class="subdued">5 Comments</a>
            </p>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="list">
          <ion-list>
            <ion-item class="item-remove-animate"
                      ng-repeat="post in jobePost" type="item-text-wrap">

              <h2>{{post.title}}</h2>

              <p>{{post.detail}}</p>
            </ion-item>
          </ion-list>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
