<ion-view view-title="Details">
  <ion-nav-buttons side="secondary">
    <button class="button icon-left button-clear"
       ng-click="editFields()">{{!edit? 'Done' : 'Edit'}}</button>
  </ion-nav-buttons>
  <ion-content ng-init="init()">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Title</span>
        <input ng-disabled="edit" type="text" ng-model="post.title" placeholder="Give a title to your post">
      </label>
      <label ng-show="showMore" class="item item-input item-stacked-label">
        <span class="input-label">Details</span>
        <input  ng-disabled="edit" type="text" ng-model="post.description" placeholder="Give some details about your post">
      </label>
      <label ng-show="showMore" class="item item-input item-stacked-label">
        <span class="input-label">Category</span>
        <input ng-disabled="edit" type="text" ng-model="post.category" placeholder="Give job a category">
      </label>
      <label ng-show="showMore" class="item item-input item-stacked-label">
        <span class="input-label">Location</span>
        <input ng-disabled="edit" type="text" ng-model="post.location" placeholder="Give job a category">
      </label>
      <label ng-show="showMore" class="item item-input">
        <span class="input-label">Hourly Rate($)</span>
        <input ng-disabled="edit" type="number" ng-model="post.cost">
      </label>
      <label ng-show="showMore" class="item item-input">
        <span class="input-label">Duration(h)</span>
        <input ng-disabled="edit" type="number" ng-model="post.duration">
      </label>
    </div>

    <button class="button button-calm button-block" ng-click="showMoreFields()">{{showMore? 'Show Less' : 'Show More'}}</button>
    <div class="card">
      <div class="item item-avatar">
        <img src="img/adam.jpg">
        <h2>{{post.contractor.firstName}} {{post.contractor.lastName}}</h2>
        <span ng-repeat="tag in post.tags" class="job-tag">{{tag}}</span>
      </div>
      <div class="item">
        <p class="item-detail">
          {{post.contractor.detail}}
        </p>
        <p>
              <span ng-repeat="i in getNumber(post.rating) track by $index"
                    class="ion-star energized icon-right"></span>
          <span>{{post.reviews}} reviews</span>
        </p>
      </div>
    </div>

    <div ng-show="isThereContractor" class="list">
      <a ng-repeat="bid in bids" class="item item-button-right" href="#">
        <h2>{{bid.contractor.username}} </h2>
        <p>Has bidded {{bid.bidValue | currency}}</p>
        <button ng-click="pickBid(bid)" class="button button-fix button-calm">
         Pick
        </button>
      </a>

    </div>
  </ion-content>
</ion-view>
