<ion-view view-title="Messages">
  <ion-content>
    <div class="list">
      <a class="item item-avatar" href="#">
          
              <img src="img/adam.jpg">
                <h2>Jeremy</h2>
                <p>Hello, I am available on Friday.</p>
              
            <div class="col col-33 col-offset-50 msg-timestamp"><p>10:30 AM</p></div>
         
        
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/perry.png">
        <h2>Austin</h2>
        <p>See you soon!</p>
          <div class="col col-33 col-offset-50 msg-timestamp"><p>2:30 PM</p></div>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/max.png">
        <h2>Fadi</h2>
        <p>Hey!</p>
          <div class="col col-33 col-offset-50 msg-timestamp"><p>8:21 PM</p></div>
      </a>
    </div>
  </ion-content>
</ion-view>
