<ion-view view-title="John Doe">
  <ion-content>
      <div class="row personal-info">
          <div class="col col-40 image">
          <img class="thumbnail" src="img/adam.jpg">  
          </div> 
          <div class="col desc">
              <ul>
                  <li>70 likes</li>
                  <li>3.7 &#9733 jobber</li>
                  <li>4.6 &#9733 jobbee</li>

              </ul>
          </div>
          
      </div>
    
      <div class="tabs-striped tabs-top tabs-color-calm">
    <div class="tabs">
      <a class="tab-item active" href="#">
        <i class="icon ion-person"></i>
        
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-star"></i>
        
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        
      </a>
    </div>
  </div> 
  </ion-content>
</ion-view>
