<ion-view view-title="Profile">
  <ion-content>
      <div class="tabs-striped tabs-top tabs-color-calm">
    <div class="tabs">
      <a class="tab-item active" href="#">
        <i class="icon ion-star"></i>
        Test
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-star"></i>
        Favorites
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        Settings
      </a>
    </div>
  </div>
    <ion-list>
        <ion-item>Personal Information</ion-item>
        <ion-item>Notifications</ion-item>
        <ion-item>Sign out</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
