/* Empty. Add your own CSS if you like */
@font-face {
    font-family: 'Lato';
    src: url(https://fonts.googleapis.com/css?family=Lato);
    
}

body {
    font-family: 'Lato';
}

.thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.image{
    text-align: center;
}

.desc {
    color: #444;
}

.tabs.scroll-tabs {
    top: 100px !important;
}

.profile-content {
    margin-top: 28px;   
    padding: 10px;
    color: #444;
}

.profile-content h3 {
    margin-top: 15px !important;
    color: #444 !important;
    

}

.name {
    font-weight: bold;   
}

.card {
    margin-top: 0 !important;   
}