/* Empty. Add your own CSS if you like */
@font-face {
    font-family: 'Lato';
    src: url("https://fonts.googleapis.com/css?family=Lato");
    
}

body {
    font-family: 'Lato';
}

.thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.personal-info {
    background-image: url("../img/map-bg.png");
    background-size: contain;
    height: 115px;
}

.image{
    text-align: center;
    background-color: rgba(255,255,255,0.3);   
    padding-top: 70px;
}

.desc {
    color: #444;
    display:none;
}

.tabs.scroll-tabs {
    top: 42px !important;
}

.profile-content {
    margin-top: 28px;   
    padding: 10px;
    color: #444;
}

.profile-content h3 {
    margin-top: 15px !important;
    color: #444 !important;

}

.under-tab-content {
    margin-top: 53px !important;
}
.name {
    font-weight: bold;   
/*    color: #444;*/
}

.profile-name {
    color: #444;   
}

.card {
    margin-top: 0 !important;   
}

a.tab-item {
    font-weight: 500;   
}